@media only screen and (max-width: 431px) {

#done-button {
    visibility: hidden;
}

#instructions {
    background-color: white;
    border-radius: 0.5em;
    padding: var(--gap);
    margin-top: var(--gap);
    font-weight: 300;
}

h3 {
    font-size: 0.94em;
    color: var(--dark-gray);
    margin-bottom: calc(2 * var(--gap));
}

.step {
    margin-bottom: calc(1.94 * var(--gap));
    width: 16em;
}

.slide-in-right {
    animation: slideInRight 0.35s forwards;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
}