#done-button {
    visibility: hidden;
}

#instructions {
    background-color: white;
    border-radius: 0.5em;
    padding: var(--gap);
    margin-top: var(--gap);
    font-weight: 300;
}

h3 {
    font-size: 0.94em;
    color: var(--dark-gray);
    margin-bottom: calc(2 * var(--gap));
}

.step {
    margin-top: var(--gap);
    margin-bottom: calc(0.8 * var(--gap));
    width: 17em;
}

#step-9 {
    margin-top: var(--gap);
}

.indent {
    padding-left: 1em;
}

hr.solid {
    border-top: 0.5px solid var(--dark-gray);
    margin-right: -1em;
  }

.slide-in-right {
    animation: slideInRight 0.35s forwards;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}