@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /* i'm using Roboto instead of SF Pro */

:root {
    --font-roboto: "Roboto", sans-serif;
    --font-roboto-cond: "Roboto Condensed", sans-serif;
    --red: rgb(255, 58, 48);
    --blue: rgb(0, 122, 255);
    --light-gray: rgb(242, 242, 247);
    --gray: rgb(229, 229, 234);
    --dark-gray: rgb(142, 142, 146);
    --dark-gray-transparent: rgba(142, 142, 146, 0.5);
    --small-gap: 0.5em;
    --gap: 1em;
    --mid-gap: 2em;
}

html {
    overflow-x: hidden;
}

@media only screen and (min-width: 5px) {

body {
    font-family: var(--font-roboto);
    background-color: var(--light-gray);
    margin-left: var(--gap);
    margin-right: var(--gap);
}

#small-red-cross {
    color: var(--red);
    font-size: 2em;
    margin-right: calc(0.2 * var(--gap));
}

h1 {
    display: flex;
    align-items: center;
}

#header-nav {
    font-size: 1.1em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.3em;
    margin-bottom: 5.3em;
}

#back-button,
#done-button {
    color: var(--blue);
    font-weight: 300;
}

#back-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--small-gap);
}

#done-button.inactive {
    visibility: hidden;
}

h2 {
    color: black;
    font-size: 1.1em;
    font-weight: 500;
}

.step-bold {
    color: var(--red);
    font-size: 1em;
    font-weight: 500;
    margin-bottom: calc(2.5 * var(--gap));
}

#emergency-call {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#sos-icon {
    position: absolute;
    z-index: 1;
    padding-bottom: 0.7em;
    padding-right: 12.6em;
}

#call-button {
    position: relative;
    font-size: 1.25em;
    color: white;
    background-color: var(--dark-gray);
    border-radius: 4em;
    margin-top: var(--gap);
    margin-bottom: var(--small-gap);
    padding-left: 4.5em;
    width: 14em;
    height: 4em;
}

#iphone-findable,
#slide-to-call {
    color: var(--dark-gray);
    font-weight: 300;
}
}

@media only screen and (min-width: 665px) {

#emergency-call,
#call-button {
    display: none;
}

#cancel-button {
    padding-bottom: calc(2.75 * var(--mid-gap));
}

h2,
.step-bold {
    font-size: 1.25em;
}

}

@media only screen and (min-width: 980px) {

body {
    margin-left: calc(3 * var(--gap));
    margin-right: calc(3 * var(--gap));
}

#header-nav {
    margin-top: calc(1.5 * var(--mid-gap));
    margin-bottom: calc(2.75 * var(--mid-gap));
}

h2,
.step-bold {
    font-size: 1.4em;
}

.step-bold {
    margin-top: var(--small-gap);
}



}

@media only screen and (min-width: 1300px) {

    body {
        margin-left: calc(9 * var(--gap));
        margin-right: calc(9 * var(--gap));
    }
}
