#back-button {
    visibility: hidden;
}

#grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap);
    margin-top: var(--gap);
}

.button-category {
    background-color: white;
    text-align: center;
    border-radius: 0.4em;
    font-size: 1.5em;
    height: 3.2em;
}

.instructions-container {
    background-color: blue;
    position: fixed;
    top: 10.7em;
    padding-bottom: 19.4em;
}

.button-category:hover {
    background-color: var(--gray);
}

.slide-up {
    animation: slideUp 0.35s forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}