#back-button {
    visibility: hidden;
}

#grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap);
    margin-top: var(--gap);
}

.button-category {
    background-color: white;
    text-align: center;
    border-radius: 0.4em;
    font-size: 1.5em;
    height: 3.2em;
}

.button-category:hover {
    background-color: var(--gray);
}

.instructions-container,
.instruction-details {
    display: none;
}

.instructions-container.active,
.instruction-details.active {
    display: block;
    background-color: white;
    border-radius: 0.5em;
    position: fixed;
    top: 10.7em;
    padding: var(--gap);
    height: 34.2em;
    font-weight: 300;
}

h4 {
    font-size: 0.94em;
    color: var(--dark-gray);
    margin-bottom: var(--gap);
}

.gray-instructions {
    margin-bottom: calc(2 * var(--gap));
}

.step {
    margin-top: var(--gap);
    margin-bottom: calc(0.8 * var(--gap));
}

#step-9 {
    margin-top: var(--gap);
}

hr.solid {
    border-top: 0.5px solid var(--dark-gray);
    margin-right: -1em;
  }

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;  
    padding-bottom: 2em; 
}
  
.slide-up {
    animation: slideUp 0.35s forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}