#back-button {
    visibility: hidden;
}

#back-button.active {
    visibility: visible;
    cursor: pointer;
}

#grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap);
    margin-top: var(--gap);
}

.button-category {
    background-color: white;
    text-align: center;
    border-radius: 0.4em;
    font-size: 1.5em;
    height: 3.2em;
    cursor: pointer;
}

.button-category:hover {
    background-color: var(--gray);
}

.instructions-container,
.instruction-details {
    display: none;
}

.instructions-container.active,
.instruction-details.active {
    display: block;
    background-color: white;
    border-radius: 0.5em;
    position: fixed;
    width: 100%;
    top: 10.7em;
    padding: var(--gap);
    height: 34.2em;
    font-weight: 300;
}

.instructions-container.active {
    z-index: 0;
}

.instructions-details.active {
    z-index: 1;
}

h4 {
    font-size: 0.94em;
    color: var(--dark-gray);
    margin-bottom: var(--mid-gap);
}

.gray-instructions {
    margin-bottom: var(--mid-gap);
}

.step {
    margin-top: var(--gap);
    margin-bottom: calc(0.8 * var(--gap));
    cursor: pointer;

    /* flexbox */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#step-9 {
    margin-top: var(--gap);
}

hr.solid {
    border-top: 0.5px solid var(--dark-gray);
    margin-right: -1em;
  }

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;  
    padding-bottom: 2em; 
}
  
.slide-up {
    
    animation: slideUp 0.35s forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@media only screen and (min-width: 665px) {

#grid {
    grid-template-columns: repeat(3, 1fr);
}

.button-category {
    height: 4.5em;
}

.instructions-container.active,
.instruction-details.active {
    height: 32.5em;
}
}

@media only screen and (min-width: 1050px) {

#grid {
    grid-template-columns: repeat(4, 1fr);
}

.button-category {
    font-size: 2em;
    height: 5em;
}

h4 {
    font-size: 1.1em;
}

.instructions-container.active,
.instruction-details.active {
    height: 48.2em;
    margin-top: 1.35em;
    padding: var(--mid-gap);
}

.details,
.step {
    font-size: 1.5em;
}

.details {
    max-width: 22em;
    margin-bottom: var(--mid-gap);
}

.image-container {
    position: absolute;
    scale: 180%;
    right: 13em;
    top: 9em;
}
}