body {
    margin: 0;
    text-align: center;
    background: linear-gradient(to bottom, rgba(0,0,0) 0%, rgba(89,113,134) 40%, rgba(128,128,128) 40%, rgba(0,0,0) 100%);
    backdrop-filter: blur(8em);
}

#power-off,
#first-aid,
#medical-id,
#start-call-button {
    position: relative;
    font-size: 1.25em;
    color: white;
    background-color: var(--dark-gray-transparent);
    border-radius: 4em;
    margin-top: var(--gap);
    margin-bottom: calc(0.5 * var(--gap));
    padding-left: 1.9em;
    width: 14em;
    height: 4em;
}

#power-off {
    margin-top: 6.8em;
}

#iphone-findable {
    font-size: 0.84em;
    margin-bottom: 7em;
}

#slide-to-call,
#cancel-button {
    color: white;
}

#cancel-button {
    position: relative;
}

#cancel-icon {
    position: absolute;
    margin-top: 0.73em;
    margin-left: 0.8em;
}

#slide-to-call {
    margin-bottom: 6em;
}

#cancel-text {
    font-weight: 300;
    margin-top: calc(0.5 * var(--gap));
}

#X {
    background-color: var(--dark-gray-transparent);
    border-radius: 50%;
    padding: 2.8em;
}

#power-off-icon,
#first-aid-icon,
#medical-id-icon,
#sos-icon {
    position: absolute;
    z-index: 1;
    margin-top: 1.66em;
    margin-left: 0.4em;
}

#power-off-icon {
    margin-top: 8.97em;
}

/* .slide-down {
    animation: slideDown 0.35s forwards;
}

@keyframes slideDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
} */