body {
    text-align: center;
    margin-top: 6.8em;
}

#power-off,
#first-aid,
#medical-id,
#start-call-button {
    position: relative;
    font-size: 1.25em;
    color: white;
    background-color: var(--darker-gray);
    border-radius: 4em;
    margin-top: var(--gap);
    margin-bottom: calc(0.5 * var(--gap));
    width: 14em;
    height: 4em;
}

#iphone-findable {
    font-size: 0.84em;
    margin-bottom: 7.5em;
}

#slide-to-call,
#cancel-button {
    color: white;
}

#slide-to-call {
    margin-bottom: 6em;
}

#cancel-text {
    font-weight: 300;
    margin-top: calc(0.5 * var(--gap));
}

#X {
    background-color: var(--darker-gray);
    border-radius: 50%;
    padding: 2.5em;
}

/* .slide-down {
    animation: slideDown 0.35s forwards;
}

@keyframes slideDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
} */

