@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font-roboto: "Roboto", sans-serif;
    --red: rgb(255, 58, 48);
    --blue: rgb(0, 122, 255);
    --light-gray: rgb(242, 242, 247);
    --dark-gray: rgb(142, 142, 146);
    --darker-gray: rgb(96, 98, 100);
    --gap: 1em;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@media only screen and (min-width: 430px) {
    

body {
    font-family: var(--font-roboto);
    background-color: var(--light-gray);
    margin-left: var(--gap);
    margin-right: var(--gap);
}

#small-red-cross {
    color: var(--red);

}

header,
h2 {
    font-size: 1.1em;
    font-weight: 500;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.3em;
    margin-bottom: 5.6em;
}

#back-button,
#done-button {
    color: var(--blue);
}

/* #back-button {
    visibility: hidden;
} */

#grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap);
    margin-top: var(--gap);
}

.button-category {
    background-color: white;
    text-align: center;
    border-radius: 0.4em;
    font-size: 1.5em;
    padding-top: calc(0.8 * var(--gap));
    padding-bottom: calc(0.8 * var(--gap));
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#call-button {
    font-size: 1.25em;
    color: white;
    background-color: var(--darker-gray);
    border-radius: 2em;
    padding-top: var(--gap);
    padding-bottom: var(--gap);
    padding-left: calc(4 * var(--gap));
    padding-right: calc(1.5 * var(--gap));
    margin-top: var(--gap);
    margin-bottom: calc(0.5 * var(--gap));
}

#slide-to-call {
    color: var(--dark-gray);
}
}